@using Microsoft.AspNetCore.Authentication.JwtBearer
@using Microsoft.IdentityModel.Tokens
@using System.Security.Claims;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var principal = HttpContextAccessor.HttpContext.User;
    var roles = principal.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();
    var RoleBasedId = principal.Claims.Where(c => c.Type == ClaimTypes.PrimaryGroupSid).Select(c => c.Value).ToList().FirstOrDefault();
}

@{
    ViewData["Title"] = "Home Page";
}
@if (roles.Contains("administrator"))
{
    <div class="text-center">
        <h1 class="display-4">Welcome, Administrator</h1>
        <a asp-controller="User" asp-action="Index" class="btn btn-primary">Manage Users</a>
    </div>
}

else if (roles.Contains("instructor"))
{
    <div class="text-center">
        <h1 class="display-4">Welcome, Instructor</h1>
        <a asp-controller="Exam" asp-action="Index" class="btn btn-primary">Manage Exams</a>
        <a asp-controller="Question" asp-action="Index" class="btn btn-primary">Manage Questions</a>
    </div>
}
else if (roles.Contains("student"))
{
    <div class="text-center">
        <h1 class="display-4">Welcome, Student</h1>
        <a asp-controller="Assessment" asp-action="Index" asp-route-id="@RoleBasedId" class="btn btn-primary">Availabe Exams</a>
    </div>
}
