@inject IHttpContextAccessor HttpContextAccessor

@{
    var examMode = HttpContextAccessor.HttpContext.Items.ContainsKey("ExamMode");
    var principal = HttpContextAccessor.HttpContext.User;
    var _IsAuthenticated = principal.Identity?.IsAuthenticated;
    var _userNameIdentifier = principal.Claims
                                .Where(c => c.Type == ClaimTypes.NameIdentifier)
                                .Select(c => c.Value)
                                .ToList()
                                .FirstOrDefault();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Assessment System | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OSA_r.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!examMode)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 float-right">
                <div class="container-fluid float-right">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Online Assessment System</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        </ul>
                    </div>
                    @if (_IsAuthenticated == true)
                    {
                        <div class="navbar-nav">
                            <a class="nav-link text-dark" asp-route-id=@_userNameIdentifier asp-controller="User" asp-action="Details">Profile</a>

                        </div>
                        <div class="align-items-right">
                            <ul class="navbar-nav align-items-right">
                                <li class="nav-item align-items-right">
                                    @using (Html.BeginForm("Logout", "User", FormMethod.Post))
                                    {
                                        <input type="submit" value="Logout" class="btn btn-primary float-right" />
                                    }
                                </li>
                    </ul>
                </div>
                }
            </div>
        </nav>
    </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (!examMode)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
            &copy; 2024 - Online Assessment System 
        </div>
    </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
